<div class="loginForm">
    <form method="POST" id="loginForm">
        <h1 class="text-center">Login - EMTI</h1>
        <hr>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="username" id="username" placeholder="Nome de usuário">
            <label for="floatingInput">Usuário: </label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Senha">
            <label for="floatingPassword">Senha: </label>
        </div>
        <div>
            <input type="submit" class="btn btn-success" name="btn-login" id="btn-login" value="Entrar">
        </div>
    </form>
</div>